<footer>
        <div class="container-fluid" id="contact">
            <div class="row">
                <div class="col">
                    <a href="/impressum">Impressum</a>
                </div>
                <div class="col">
                    <form>
                        <input type="text" class="form-control" placeholder="First name">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </form>
                </div>
            </div>
        </div>
    </footer>