<div id="contact">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 bg-light text-md-left text-center text-dark align-self-center p-4">
                <a href="/impressum">Impressum</a>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 bg-light text-md-left text-center text-dark align-self-center p-4">
                <form>
                    <input type="text" class="form-control" placeholder="First name">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </form>
            </div>
        </div>
    </div>
</div>