<div id="contact">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 3 bg-light text-md-left text-center text-dark p-4 content">
                <h2 class="text-uppercase">{{ page.title}}</h2>
                <p class="text-uppercase">
                    {{ content }}
                </p>
            </div>
        </div>
    </div>
</div>