<div id="history">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 bg-light text-md-left text-center text-dark align-self-center my-4 p-2">
                <h2 class="text-uppercase">{{ page.title}}</h2>
                <p class="text-uppercase">
                    {{ content }}
                </p>
            </div>
        </div>
    </div>
</div>