<div class="container-fluid text-light bg-dark">
    <div id="exampleAccordion" data-children=".item">
        <div class="item">
            <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion2" role="button" aria-expanded="false" aria-controls="exampleAccordion2">
                Toggle item 2
            </a>
            <div id="exampleAccordion2" class="collapse" role="tabpanel">
                <p class="mb-3">
                    {{ content }}
                </p>
            </div>
        </div>
    </div>
</div>