<div class="container-fluid text-light bg-dark">
    <div id="exampleAccordion" data-children=".item">
        <div class="item">
            <h2 class="text-center mb-0" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion2" role="button" aria-expanded="false" aria-controls="exampleAccordion2">
                {{ page.title }}
            </h2>
            <div id="exampleAccordion2" class="collapse pb-4" role="tabpanel">
                <div class="container">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>