<div class="container text-light bg-dark">
    <div id="impressum" data-children=".item">
        <div class="item">
            <a data-toggle="collapse" data-parent="#impressum" href="#impressum" role="button" aria-expanded="false" aria-controls="impressum">
                {{ page.title }}
            </a>
            <div id="impressum" class="collapse" role="tabpanel">
                <p class="mb-3">
                    {{ content }}
                </p>
            </div>
        </div>
    </div>
</div>