<div id="openair">
        <svg viewBox="0 0 1920 1080">
            <defs>
              <style>
                .cls-1 {
                  fill: #c8f8fc;
                }
          
                .cls-2 {
                  fill: #61c2f7;
                }
          
                .cls-3 {
                  fill: #aaf9cc;
                }
          
                .cls-4 {
                  fill: #ccc;
                }
          
                .cls-5 {
                  fill: #fc3;
                }
          
                .cls-6 {
                  fill: #334034;
                }
          
                .cls-7 {
                  fill: #cff;
                  stroke: #333;
                  stroke-width: 2.54px;
                }
          
                .cls-8 {
                  fill: #09f;
                }
          
                .cls-9 {
                  fill: #e1b878;
                }
          
                .cls-10 {
                  fill: #ffc;
                }
          
                .cls-11, .cls-12, .cls-13, .cls-23 {
                  fill: none;
                  stroke-miterlimit: 10;
                }
          
                .cls-11, .cls-12, .cls-13 {
                  stroke: #334034;
                }
          
                .cls-11 {
                  stroke-width: 5.08px;
                }
          
                .cls-12 {
                  stroke-width: 1.91px;
                }
          
                .cls-13 {
                  stroke-width: 2.2px;
                }
          
                .cls-14 {
                  fill: #4e2315;
                }
          
                .cls-15 {
                  fill: #ceb8a1;
                }
          
                .cls-16 {
                  fill: #b2a193;
                }
          
                .cls-17 {
                  fill: #fff;
                }
          
                .cls-18 {
                  fill: #a8a786;
                }
          
                .cls-19, .cls-20, .cls-21, .cls-22 {
                  fill: #e8ab17;
                }
          
                .cls-19 {
                  opacity: 0.4;
                }
          
                .cls-20 {
                  opacity: 0.2;
                }
          
                .cls-21 {
                  opacity: 0.7;
                }
          
                .cls-23 {
                  stroke: #11a1d3;
                  stroke-linecap: round;
                  stroke-width: 7px;
                }
              </style>
            </defs>
            <title>2017-03-Aufriss-easyKisi-Streets_Final</title>
            <path class="cls-1" d="M1974-53c-26.29,0-26.29,28-52.58,28s-26.3-28-52.59-28-26.29,28-52.58,28S1790-53,1763.67-53s-26.28,28-52.57,28-26.29-28-52.58-28-26.29,28-52.58,28-26.29-28-52.57-28-26.29,28-52.58,28-26.29-28-52.58-28-26.29,28-52.57,28-26.29-28-52.58-28-26.28,28-52.57,28-26.29-28-52.58-28-26.28,28-52.57,28-26.29-28-52.57-28-26.29,28-52.57,28-26.29-28-52.58-28S1001.33-25,975-25s-26.28-28-52.57-28S896.18-25,869.9-25s-26.29-28-52.58-28S791-25,764.75-25s-26.29-28-52.58-28S685.88-25,659.6-25,633.31-53,607-53s-26.28,28-52.57,28-26.29-28-52.57-28S475.59-25,449.3-25,423-53,396.73-53s-26.29,28-52.58,28-26.29-28-52.57-28S265.29-25,239-25s-26.29-28-52.58-28-26.28,28-52.57,28S107.57-53,81.29-53,55-25,28.72-25,2.43-53-23.86-53-50.14-25-76.43-25-102.71-53-129-53V54.5H1971.5S1978.46-53,1974-53Z"/>
            <rect class="cls-2" x="-8" y="874.97" width="1934" height="531.03"/>
            <rect class="cls-1" x="-6" y="-10" width="1935" height="765"/>
            <rect class="cls-3" x="-3" y="744" width="1936" height="20"/>
            <rect class="cls-4" x="-4" y="762.46" width="1933" height="108.73"/>
            <rect class="cls-5" x="1228.71" y="823.28" width="40.85" height="47.89"/>
            <rect class="cls-5" x="1274.61" y="831.73" width="64.79" height="39.44"/>
            <rect class="cls-6" x="1272.42" y="828.55" width="69.05" height="2.97"/>
            <rect class="cls-6" x="1226.56" y="818.12" width="45.11" height="5.08"/>
            <rect class="cls-7" x="1236.1" y="826.55" width="26.5" height="26.5" rx="5.56" ry="5.56"/>
            <rect class="cls-7" x="1279.46" y="836.23" width="24.3" height="11.44" rx="5.72" ry="5.72"/>
            <rect class="cls-7" x="1309.8" y="836.23" width="24.3" height="11.44" rx="5.72" ry="5.72"/>
            <path class="cls-8" d="M1399.14,864.41s-9.86,26.48-40.85,27.89H1172.37V864.13Z"/>
            <path class="cls-9" d="M1172.37,864.13l3.68-8.73s196.33,5.91,218.87-6.76c0,0,25.35-6.77,4.22,15.77Z"/>
            <g>
              <path class="cls-10" d="M1182,870.54a2.72,2.72,0,0,0,.11.54l.12.68a1.51,1.51,0,0,1,.07.39c0,.19.08.36.1.51.11.58.22,1.15.37,1.75s.17.68.17.73,0,.17.06.27a.9.9,0,0,1,.07.26c.06.19.1.28.1.3a.84.84,0,0,1,.15.3l.09.3.06-.3a.56.56,0,0,0,.07-.24v0c.38-1.35.74-2.35,1.11-3.69,0,0,.06-.26.15-.64q.26-.87.45-1.35a2,2,0,0,1,.14-.32s0-.09,0-.15a1.38,1.38,0,0,1,.08-.17.18.18,0,0,1,.11,0l.21,0a.72.72,0,0,0,.19,0h.13a.7.7,0,0,1,.28,0s.06,0,.11,0h.08s.07,0,.09,0,0,0,0,0,0,0,0,0a.5.5,0,0,1,0,.21v.13a.75.75,0,0,1,0,.22,2.08,2.08,0,0,1,0,.47c0,.08,0,.27.05.55a6.16,6.16,0,0,0,0,.68V873c0,.47,0,.81,0,1.07v.75a4.14,4.14,0,0,1,0,.45.76.76,0,0,1,0,.17v3a2.14,2.14,0,0,1,0,.32v.34a6.37,6.37,0,0,0,0,.7,1.9,1.9,0,0,1,0,.28v.92a1.91,1.91,0,0,1,0,.3v.28c0,.23,0,.55,0,1s0,.75,0,1a9.59,9.59,0,0,0-.07,1.07,5.91,5.91,0,0,1-.08,1c0,.09-.13.13-.39.13l-.28,0h-.32c-.14,0-.23,0-.25-.08v-.19c0-.07,0-.11,0-.13v-.56c0-.32,0-.57,0-.77v-.34a2.64,2.64,0,0,0,0-.36v-.13c0-.13,0-.34,0-.66v-.41a2.83,2.83,0,0,1,0-.45,3.79,3.79,0,0,0,0-.66c0-.3,0-.51,0-.66v-.32a2.64,2.64,0,0,0,0-.36v-.39a1.74,1.74,0,0,0,0-.29,6.86,6.86,0,0,1,0-.69,7,7,0,0,0,0-.72V876.1a3.73,3.73,0,0,0,0-.43v-.41c0-.1,0-.32,0-.64s0-.53,0-.62l-.09.13-.17.62c0,.11,0,.15,0,.17a3.28,3.28,0,0,0-.24.69c-.11.36-.19.64-.23.83-.24.75-.39,1.24-.5,1.47a7.36,7.36,0,0,0-.31,1.26,7.11,7.11,0,0,1-.28,1.11c0,.07-.11.11-.26.11a.24.24,0,0,1-.19-.07.71.71,0,0,1-.17-.3s0-.12-.09-.23a1.21,1.21,0,0,1-.1-.23c0-.07-.07-.11-.07-.17a1.67,1.67,0,0,1-.08-.24l0-.21s0-.11-.08-.28a1.25,1.25,0,0,1-.13-.41l-.21-.74-.26-.94-.4-1.6-.3-1v1.39a6.32,6.32,0,0,0,0,.64c0,.25,0,.53,0,.83v.86c0,.14,0,.36,0,.66v1.34c0,.3,0,.51,0,.64,0,.62,0,1.54,0,2.76s0,2.11,0,2.62c0,.11-.1.17-.34.17l-.34,0a.43.43,0,0,1-.22,0c-.23-.06-.34-.12-.36-.19v-.1a.36.36,0,0,1,0-.15v-.6c0-.15,0-.51,0-1.05v-1.32a3.21,3.21,0,0,0,0-.39v-.59a5.17,5.17,0,0,0,0-.6,6.69,6.69,0,0,0,0-.81c0-.19,0-.47,0-.83s0-.64,0-1.16v-.55c0-.86,0-1.43,0-1.71s0-.9,0-1.6,0-1.3.06-1.84.06-1,.11-1.45a.71.71,0,0,1,0-.17c0-.09,0-.15,0-.17s0-.07,0-.11V870c0-.06.15-.08.45-.08a2.3,2.3,0,0,1,.45,0,1.15,1.15,0,0,1,.3,0c.27.07.42.13.42.2S1182,870.44,1182,870.54Z"/>
              <path class="cls-10" d="M1192.07,870.2a.81.81,0,0,1,.24.41,2.45,2.45,0,0,1,.19.51,2.16,2.16,0,0,1,.08.34,1.18,1.18,0,0,0,.07.3,5.42,5.42,0,0,1,.06.81l0,.82v.32c0,.06,0,.08,0,.1v0a.11.11,0,0,1,0,.07.55.55,0,0,1-.38.11h-.11l-.55-.07c-.24-.13-.37-.21-.37-.28v0a9.74,9.74,0,0,1,0-1.11,3.5,3.5,0,0,0-.08-.89,1,1,0,0,0-.3-.54.4.4,0,0,0-.28-.1h-.09a.12.12,0,0,1-.08,0,1,1,0,0,0-.58.36l-.25.43a1.59,1.59,0,0,0-.13.51v.15a4.3,4.3,0,0,0,.19,1.19,4.84,4.84,0,0,0,.3.79c.11.24.38.77.83,1.6.24.43.47.95.75,1.52a2.36,2.36,0,0,0,.13.32c.06.15.12.26.15.32s.1.26.25.66a.9.9,0,0,0,0,.22,1.08,1.08,0,0,0,.05.21,1.19,1.19,0,0,1,.17.32c0,.11.08.36.19.79,0,0,0,.3.13.81a12.76,12.76,0,0,1,.1,1.39,7,7,0,0,1-.23,1.86,3,3,0,0,1-.24.64,1,1,0,0,1-.32.45,1.2,1.2,0,0,1-.36.32,1.76,1.76,0,0,1-.49.12H1191a.35.35,0,0,1-.15,0,.48.48,0,0,1-.17,0h-.17a3.26,3.26,0,0,1-1.84-.61,3.43,3.43,0,0,1-.38-1.8c0-.4,0-.74,0-1,0-.11,0-.19,0-.22s0-.15,0-.3a.41.41,0,0,1,0-.19.45.45,0,0,1,0-.19s0-.06,0-.13v-.1a.08.08,0,0,0,0-.07c0-.06.15-.1.38-.17l.11,0h.13l.34,0c.19,0,.32.09.34.17a3,3,0,0,1,0,.37v.47c0,.38,0,.72,0,1,.11,1,.32,1.58.68,1.58,0,0,.43,0,.54,0a.54.54,0,0,0,.28-.19,1.43,1.43,0,0,0,.15-.41,1.55,1.55,0,0,0,.1-.58,3.19,3.19,0,0,0,0-.49,2.85,2.85,0,0,0,0-.42,4.15,4.15,0,0,0,0-.54v-.6a12.7,12.7,0,0,0-1.47-4.37c0-.09-.11-.22-.17-.39a3,3,0,0,0-.17-.38l-.17-.37a3.18,3.18,0,0,1-.17-.4l-.32-.71a10,10,0,0,1-.6-2.07c0-.28,0-.49,0-.6a3,3,0,0,1,.49-1.66,1.85,1.85,0,0,1,1.21-.71,5.67,5.67,0,0,1,1-.1,1.67,1.67,0,0,1,.81.15A1,1,0,0,1,1192.07,870.2Z"/>
              <path class="cls-10" d="M1198.55,885.32v-1.17a.9.9,0,0,0,0-.26v-.56a1.17,1.17,0,0,0,0-.29,4,4,0,0,1,0-.67v-.53a4.28,4.28,0,0,0,0-.55v-1.95a1,1,0,0,0,0-.21v-.64c0-.15,0-.26,0-.37,0-.27,0-.51,0-.68V876a3.73,3.73,0,0,0,0-.43v-3a1.11,1.11,0,0,1,0-.3v-1c0-.19,0-.34,0-.43a1.08,1.08,0,0,0,0-.21.83.83,0,0,0,0-.2.56.56,0,0,1,0-.21c0-.06.09-.13.24-.17a3.83,3.83,0,0,1,.53,0,3,3,0,0,0,.36,0h.43l.7,0a3.49,3.49,0,0,1,.52,0,1,1,0,0,1,.46.17,1.6,1.6,0,0,1,.43.3,1.8,1.8,0,0,1,.54.66,3.78,3.78,0,0,1,.3,1.11,9.52,9.52,0,0,1,.1,1.18,13,13,0,0,1,0,1.36,11.26,11.26,0,0,0,0,1.18.72.72,0,0,1,0,.23,1.33,1.33,0,0,1,0,.26v.47a2.76,2.76,0,0,1,0,.45,3,3,0,0,0,0,.47c0,.19,0,.49,0,.89v.52a4.37,4.37,0,0,0,0,.44,1,1,0,0,1,0,.26v.28a1.47,1.47,0,0,0,0,.28v1l-.15,1.58c0,.09,0,.19-.08.34a1,1,0,0,1-.07.28,5.67,5.67,0,0,1-.38,1c-.11.2-.15.3-.17.32a1.46,1.46,0,0,1-.47.45,1.17,1.17,0,0,1-.56.26c-.25.06-.45.08-.57.1h-.15a.59.59,0,0,1-.17,0,.83.83,0,0,1-.2,0h-.3a.52.52,0,0,1-.17,0l-.23,0-.34,0a.47.47,0,0,1-.19,0l-.6,0C1198.57,885.75,1198.57,885.6,1198.55,885.32Zm1.17-13.86a3.36,3.36,0,0,1,0,.54v.74a.83.83,0,0,1,0,.2v.23a2.74,2.74,0,0,0,0,.47v.26a1.06,1.06,0,0,1,0,.27.28.28,0,0,1,0,.15,1,1,0,0,1,0,.3v.15a.43.43,0,0,1,0,.13v.26a.27.27,0,0,1,0,.1v.26a.31.31,0,0,1,0,.11v2.79a.79.79,0,0,0,0,.24V879a1.15,1.15,0,0,1,0,.3,1.11,1.11,0,0,1,0,.3v1.64a3.19,3.19,0,0,0,0,.49,4.28,4.28,0,0,0,0,.43v1.15a4.45,4.45,0,0,1,0,.56.07.07,0,0,1,0,.06V884a.56.56,0,0,0,.06.23s0,0,0,0v.05a.27.27,0,0,0,.07.15v0s0,0,0,0a.43.43,0,0,0,.3.1c.06,0,.12,0,.14,0s0,0,.11,0l.34-.06a1.33,1.33,0,0,0,.43-.24,1.39,1.39,0,0,0,.43-.44.76.76,0,0,0,.13-.2.51.51,0,0,0,.08-.25.62.62,0,0,0,.11-.3c0-.17,0-.3.06-.41v-.27a2.33,2.33,0,0,0,0-.33c0-.68,0-1.28,0-2a5.26,5.26,0,0,0,0-.75V879a2.71,2.71,0,0,0,0-.45v-.17a1.93,1.93,0,0,0,0-.36v-2.5c0-.24,0-.51,0-.86,0-.19,0-.45,0-.77a1.94,1.94,0,0,0,0-.29,1.63,1.63,0,0,0,0-.35,1.42,1.42,0,0,0,0-.27v-.26a2.68,2.68,0,0,0-.15-.85.85.85,0,0,0-.34-.45,1.9,1.9,0,0,0-.79-.11h-.47a.58.58,0,0,0-.19,0h-.24A.47.47,0,0,1,1199.72,871.46Z"/>
              <path class="cls-10" d="M1207.77,870.1a4,4,0,0,1,.62.32,1.92,1.92,0,0,1,.45.42,4.56,4.56,0,0,1,.34.54,9.05,9.05,0,0,1,.39,3.07v.47c0,.24,0,.41,0,.56v.59c0,.28,0,.52,0,.71v1.49c0,.41,0,1,0,1.71v1.45c0,.13,0,.32,0,.58v.56c0,.55-.06,1-.09,1.19s0,.28-.06.47,0,.32,0,.39a3.74,3.74,0,0,1-.21.55,2.11,2.11,0,0,1-.22.41l-.1.1a.56.56,0,0,1-.17.09.51.51,0,0,1-.18.08.52.52,0,0,0-.17.09,3.34,3.34,0,0,1-1.09.15h-.19a3.53,3.53,0,0,1-.7-.11,2.21,2.21,0,0,1-.6-.23l-.11-.13-.1-.13a.91.91,0,0,1-.24-.4,4.74,4.74,0,0,1-.19-.56,10.56,10.56,0,0,1-.28-1.49c0-.07,0-.2,0-.37s0-.3,0-.38,0-.22,0-.41a3.41,3.41,0,0,0-.06-.38,1.24,1.24,0,0,0,0-.3,1.69,1.69,0,0,0,0-.28v-.38a3,3,0,0,1,0-.47,3.12,3.12,0,0,0,0-.49v-2c0-.47,0-.81,0-1v-.66a3.66,3.66,0,0,0,0-.42c0-1,.09-1.78.13-2.42,0-.08,0-.36.08-.81,0-.11,0-.23.07-.38a1.35,1.35,0,0,1,.06-.3.86.86,0,0,0,.09-.24,1,1,0,0,1,.08-.19,1.23,1.23,0,0,1,.22-.34,2.27,2.27,0,0,1,1.13-.66,3.14,3.14,0,0,1,.49-.09C1207.39,870,1207.62,870.08,1207.77,870.1Zm-1.62,2.41a.27.27,0,0,0,0,.13,2.69,2.69,0,0,1,0,.43.42.42,0,0,0,0,.17v.1a.7.7,0,0,1,0,.28.38.38,0,0,0,0,.17.5.5,0,0,1,0,.15v.11a2.63,2.63,0,0,1,0,.38,1.28,1.28,0,0,1,0,.41v3.61a2,2,0,0,0,0,.4,1.53,1.53,0,0,0,0,.34,2.76,2.76,0,0,0,0,.45c0,.62,0,1.41.06,2.39,0,.28,0,.6.11,1a2.17,2.17,0,0,0,.21.75,2.84,2.84,0,0,0,.19.56,1.34,1.34,0,0,0,.3.32.58.58,0,0,0,.41.15,1,1,0,0,0,.32-.07.64.64,0,0,0,.36-.43,7,7,0,0,0,.17-1.38c0-.15,0-.43,0-.84a10.77,10.77,0,0,0,0-1.11v-1.06a4.14,4.14,0,0,0,0-.58,2.43,2.43,0,0,0,0-.36v-.32a4.4,4.4,0,0,0,0-.71v-1.3c0-.49,0-.86,0-1.07v-.49a2.44,2.44,0,0,1,0-.43v-.77a5.46,5.46,0,0,0-.23-2,1.08,1.08,0,0,0-.43-.38,1.21,1.21,0,0,0-.6-.17c-.53,0-.81.36-.85,1.1Z"/>
              <path class="cls-10" d="M1215.42,870.76c0,.06.07.15.11.26l.1.25c0,.07,0,.19,0,.34s0,.28.06.37l0,.87v.88a.06.06,0,0,0,0,.06v.09a.44.44,0,0,1-.07.21.86.86,0,0,1-.4.21.73.73,0,0,1-.2.05.34.34,0,0,1-.19,0,.56.56,0,0,1-.23-.08.5.5,0,0,1-.22-.13V874a.16.16,0,0,1,0-.09.34.34,0,0,1,0-.15v-.19a1.15,1.15,0,0,1,0-.24v-.47a5,5,0,0,0-.06-.81,1.32,1.32,0,0,0-.34-.7.75.75,0,0,0-1-.15.85.85,0,0,0-.41.47,3.16,3.16,0,0,0-.27.85,7.11,7.11,0,0,0-.07,1.18v.83c0,.41,0,.62,0,.85v.6a4.57,4.57,0,0,0,0,.47v1.39c0,1.56.07,2.39.07,2.52,0,.4,0,.68,0,.87v.39a1.58,1.58,0,0,0,0,.36,3.11,3.11,0,0,1,0,.47v.17a5.26,5.26,0,0,0,.13,1,1.85,1.85,0,0,0,.23.58,1.18,1.18,0,0,0,.47.47.2.2,0,0,0,.13,0,.48.48,0,0,0,.24,0h.15a.85.85,0,0,0,.46-.23.65.65,0,0,0,.15-.2,1.05,1.05,0,0,0,.09-.32,2.14,2.14,0,0,0,.11-.51,3.8,3.8,0,0,0,0-.62,1.29,1.29,0,0,0,0-.32v-.28a3.27,3.27,0,0,1,.09-1c0-.06.12-.12.32-.15l.13,0h.29a.54.54,0,0,0,.15,0c.2,0,.28,0,.3,0a6.22,6.22,0,0,0,0,.64.9.9,0,0,1,0,.25v.45a6.3,6.3,0,0,1-.23,1.84l-.06.21a2,2,0,0,1-.09.22,1.45,1.45,0,0,0-.08.21,4.31,4.31,0,0,1-.24.51,1.06,1.06,0,0,1-.32.36.69.69,0,0,1-.43.17,1,1,0,0,1-.51.09,5.56,5.56,0,0,0-.64,0c-.3-.07-.49-.11-.6-.15a2.32,2.32,0,0,1-1.24-1.26,5.32,5.32,0,0,1-.4-2c0-.28,0-.62,0-1,0-.15,0-.43,0-.83v-.22a3.8,3.8,0,0,0,0-.6c0-.19,0-.4,0-.66a5.82,5.82,0,0,1,0-.81c0-.34,0-.83,0-1.45s0-1.15,0-1.52v-1.17a3.07,3.07,0,0,0,0-.38,11.76,11.76,0,0,1,.22-2.31,5.25,5.25,0,0,1,.19-.64,3.13,3.13,0,0,1,.28-.54,1.65,1.65,0,0,1,.36-.4,1.43,1.43,0,0,1,.57-.3,1.14,1.14,0,0,1,.33-.11.8.8,0,0,0,.27-.06h.22a1.25,1.25,0,0,1,.44.06,2.07,2.07,0,0,1,.69.22,2.44,2.44,0,0,1,.55.4A1.41,1.41,0,0,1,1215.42,870.76Z"/>
              <path class="cls-10" d="M1218.63,870.2a.68.68,0,0,0,0,.2.73.73,0,0,0,0,.25V871a3.6,3.6,0,0,0,0,.41v.45l0,2.67v1.26a.75.75,0,0,0,0,.23v.6a1.63,1.63,0,0,1,.22-.34,1.91,1.91,0,0,0,.19-.32c.06-.15.15-.37.23-.64l.22-.62.21-.6.08-.28c0-.13.05-.23.07-.3a8.91,8.91,0,0,1,.34-1c0-.11.09-.28.15-.49s.24-.6.3-.75l.47-1.26c0-.06.15-.11.34-.13h.21a4,4,0,0,1,.54,0c.21.07.32.11.32.13a2.18,2.18,0,0,1-.15.37l-.3.77-.32.78-.13.37-.06.17a.85.85,0,0,0-.09.23,1.21,1.21,0,0,1-.08.24,1.08,1.08,0,0,0,0,.21,1.17,1.17,0,0,0,0,.15,1.35,1.35,0,0,1-.17.45,1.3,1.3,0,0,0,0,.21.4.4,0,0,1-.07.19,3.31,3.31,0,0,1-.15.45l-.55,1.8-.24.72a1.11,1.11,0,0,1-.19.52.15.15,0,0,0,0,.1c0,.07,0,.09,0,.11s0,.19.11.4a3.8,3.8,0,0,0,.15.47l.25.9a2.87,2.87,0,0,1,.15.43l.13.45a3.62,3.62,0,0,0,.28.83,2.06,2.06,0,0,0,.08.4.66.66,0,0,1,.07.2c0,.06,0,.12,0,.17.11.32.19.62.26.9a4.15,4.15,0,0,0,.13.4c0,.17.08.3.1.38l.19.69a13.89,13.89,0,0,0,.45,1.32v0c0,.07-.13.11-.36.13a.5.5,0,0,0-.15,0h-.19l-.34,0a2.37,2.37,0,0,1-.56-.09,3.41,3.41,0,0,0-.17-.66c0-.1-.08-.27-.15-.53s-.19-.75-.3-1.33l-.17-.57c-.11-.34-.19-.56-.21-.62s-.07-.26-.19-.73c-.07-.27-.15-.53-.22-.74-.1-.41-.19-.69-.21-.88s-.13-.38-.19-.6-.2-.25-.26-.25a7.42,7.42,0,0,1,0,.79v1.68c0,.52,0,.9,0,1.14s0,.29.07.53v.38a1.54,1.54,0,0,0,0,.39v.34a6,6,0,0,1,0,.79,2,2,0,0,1,0,.51c0,.15-.12.21-.38.24a2.41,2.41,0,0,1-.7.08c-.24,0-.37-.08-.39-.17s0,0,0-.06a1.93,1.93,0,0,0,0-.24v-.81c0-.32,0-.56,0-.75s0-.42,0-.62a1.15,1.15,0,0,0,0-.29,4,4,0,0,1,0-.41v-1.15a6.36,6.36,0,0,1,0-.69,6,6,0,0,1,0-.66v-.3a.94.94,0,0,1,0-.27V879a1.24,1.24,0,0,0,0-.36.38.38,0,0,1,0-.2v-.25a.15.15,0,0,0,0-.09v0s0,0,0-.06a2.34,2.34,0,0,1,0-.52v-2.88a1,1,0,0,0,0-.26,4.49,4.49,0,0,0,0-.61v-2.5a1.31,1.31,0,0,1,0-.37v-.19a.2.2,0,0,1,0-.11s0-.06,0-.08a.65.65,0,0,0,0-.28l0-.06h0l0,0c0-.05.1-.09.34-.11,0,0,.08,0,.15,0a.47.47,0,0,0,.15,0,1.83,1.83,0,0,1,.53.07c.06,0,.11.06.11.08Z"/>
              <path class="cls-10" d="M1229.33,870.5v.13a.07.07,0,0,0,0,.06c-.2,1.14-.41,3-.69,5.58s-.42,3.93-.45,4a3.1,3.1,0,0,1-.17.83,5.62,5.62,0,0,1-.1.88,3.74,3.74,0,0,1-.07.77l-.23,1.6a2,2,0,0,1-.13.58,3.43,3.43,0,0,1,0,.47.57.57,0,0,1-.07.25.51.51,0,0,1-.32.15,1.14,1.14,0,0,1-.34,0h-.28a4.45,4.45,0,0,1-.57-.08.51.51,0,0,1-.32-.21,16.45,16.45,0,0,1-1-4.13c-.11-.87-.28-2.15-.56-3.88-.06-.39-.08-.64-.11-.79a5.41,5.41,0,0,1-.17-.77,30.77,30.77,0,0,1-.51-3.1,3.2,3.2,0,0,1-.06-.34l-.09-.3c-.06-.27-.08-.49-.11-.62a2.84,2.84,0,0,1-.08-.57,1.25,1.25,0,0,0-.15-.41.76.76,0,0,1,.4-.23,2.21,2.21,0,0,1,.73-.13c.28,0,.43,0,.45.13a1.49,1.49,0,0,1,.17.38c0,.17.06.39.11.66s.08.49.1.64.17,1.24.47,3.46l.17.86a1.85,1.85,0,0,1,.07.42c0,.18,0,.35.06.47a3,3,0,0,0,.11.86v.17a2.66,2.66,0,0,0,.11.7c0,.07,0,.35.06.86.15,1.49.3,2.5.41,3,0,.19.08.3.12.3s.32-.92.49-2.74a1.69,1.69,0,0,0,.07-.45c0-.23,0-.4.06-.55s.19-1.86.6-5.51c0-.08,0-.25.07-.51s0-.43,0-.56,0-.27,0-.49,0-.32,0-.36a3.11,3.11,0,0,0,.09-.62,4,4,0,0,0,0-.51v-.51c0-.07.13-.11.32-.13a6.94,6.94,0,0,1,.79,0l.41.17Z"/>
              <path class="cls-10" d="M1231.72,872.47c0,1.56,0,2.5,0,2.82s0,.42,0,.78v1.12a2.61,2.61,0,0,1,0,.34v.15a6.43,6.43,0,0,0,0,.81c0,.45,0,.72,0,.83v2.24a7,7,0,0,0,0,.73v.23a1.38,1.38,0,0,0,0,.26v.13a3.11,3.11,0,0,0,0,.47v.72a3.11,3.11,0,0,0,0,.47c0,.28,0,.45,0,.56a1.37,1.37,0,0,1,0,.38s0,.07,0,.11v0a.3.3,0,0,1-.24.09h-.15a3.86,3.86,0,0,0-.51,0,1.93,1.93,0,0,1-.32-.13,2.32,2.32,0,0,1-.08-.92v-1.26a3.11,3.11,0,0,0,0-.45v-.53a5.28,5.28,0,0,0,0-.79v-7.2c0-.47,0-.81,0-1v-3.18c0-.13.21-.2.74-.2h.66C1231.76,870.1,1231.74,870.91,1231.72,872.47Z"/>
              <path class="cls-10" d="M1234.71,870.05c0,.07,0,.11,0,.13v.11a.44.44,0,0,1,0,.15c0,.4,0,.81,0,1.26v2.71a4.77,4.77,0,0,1,0,.81c0,.49,0,1.37,0,2.61,0,.4,0,.83,0,1.3V881a3.11,3.11,0,0,1,0,.47,2.81,2.81,0,0,1,0,.49c0,.41,0,.71,0,.94v.66l0,.81h.69a1.43,1.43,0,0,0,.34,0,.73.73,0,0,0,.32,0,6.55,6.55,0,0,0,.68,0h.21a.83.83,0,0,1,.2,0,1.26,1.26,0,0,1,.47.06c.06,0,.08.17.08.54v.1c0,.32,0,.66-.08.66a.75.75,0,0,0-.24.07h-.36a4.48,4.48,0,0,1-.6,0h-1a1.29,1.29,0,0,0-.32,0h-.13a1.37,1.37,0,0,1-.3,0h-.49a3.24,3.24,0,0,0-.43,0h-.42a.16.16,0,0,1-.15-.19V885a.5.5,0,0,1,0-.19c0-.07,0-.2,0-.39s0-.45,0-.79,0-.51,0-.92v-1c0-.4,0-.72,0-.94a3.87,3.87,0,0,1,0-.53c0-.24,0-.39,0-.45s0-.51,0-1v-2c0-.13,0-.32,0-.58v-.59a5,5,0,0,0,0-.6c0-.19,0-.47,0-.83,0-.2,0-.45,0-.77v-2.31a1.47,1.47,0,0,1,0-.28c0-.23,0-.38,0-.44l0-.35V870c0-.07.09-.11.24-.11l.34,0a.47.47,0,0,1,.19,0c.24,0,.43.06.49.17Z"/>
              <path class="cls-10" d="M1240.31,870.05c0,.07,0,.11,0,.13v.11a.44.44,0,0,1,0,.15c0,.4,0,.81,0,1.26v2.71a6.69,6.69,0,0,1,0,.81c0,.49,0,1.37,0,2.61,0,.4,0,.83,0,1.3V881a2.08,2.08,0,0,1,0,.47,2.64,2.64,0,0,1-.05.49c0,.41.05.71.05.94v.66l0,.81h.68a1.39,1.39,0,0,0,.34,0,.7.7,0,0,0,.32,0,6.76,6.76,0,0,0,.69,0h.21a.8.8,0,0,1,.19,0,1.19,1.19,0,0,1,.47.06c.07,0,.09.17.09.54v.1c0,.32,0,.66-.09.66a.71.71,0,0,0-.23.07h-.37a4.31,4.31,0,0,1-.59,0h-1a1.33,1.33,0,0,0-.32,0h-.13a1.46,1.46,0,0,1-.3,0H1240a3.24,3.24,0,0,0-.43,0h-.43a.17.17,0,0,1-.15-.19V885a.5.5,0,0,1,0-.19,3.36,3.36,0,0,1,0-.39,5.73,5.73,0,0,1,0-.79c0-.19,0-.51,0-.92v-1a7.33,7.33,0,0,1,0-.94,2.59,2.59,0,0,1,0-.53c0-.24,0-.39,0-.45s0-.51,0-1v-2a4.7,4.7,0,0,1,0-.58v-.59a3.34,3.34,0,0,0,0-.6,6.22,6.22,0,0,0,0-.83c0-.2,0-.45,0-.77v-2.31a1.47,1.47,0,0,1,0-.28c0-.23,0-.38,0-.44l0-.35V870c0-.07.09-.11.24-.11l.34,0a.5.5,0,0,1,.19,0,.58.58,0,0,1,.49.17Z"/>
              <path class="cls-10" d="M1244.5,885.36a1.21,1.21,0,0,0,0-.21,1.38,1.38,0,0,0,0-.26c0-.4,0-1.17,0-2.52a5.9,5.9,0,0,0,0-.81,1.73,1.73,0,0,0,0-.47,2.61,2.61,0,0,1,0-.79c0-1.32,0-2.3,0-3.61v-1.06c0-.41,0-1,0-1.84v-1.56a7.69,7.69,0,0,1,0-.79,1.06,1.06,0,0,1,0-.27v-.95l0,0a6.11,6.11,0,0,1,1.13-.08c.45,0,1.37,0,1.6,0a2.44,2.44,0,0,1,.43,0l.38,0a1,1,0,0,1,.37.08l0,0v0l0,.11v0a.47.47,0,0,0,0,.15.37.37,0,0,1,0,.13v.15a1.57,1.57,0,0,1-.06.59l0,0-.13,0h-.13a.56.56,0,0,1-.17,0h-.43l-.4,0c-.49,0-1.13,0-1.16-.06v0a.15.15,0,0,1,0,.09v.27a.41.41,0,0,1,0,.15c0,.09,0,.19,0,.34a2.21,2.21,0,0,1,0,.32l0,3.78c0,.3,0,.54,0,.73v1h.3c.06,0,.75,0,.85,0h.28a.73.73,0,0,1,.41.09s.08.13.1.32v.11c0,.23,0,.3,0,.55v.11c0,.21-.06.32-.12.32a1.54,1.54,0,0,1-.49.06h-1.09l-.2,0s-.06,0-.08.06v.3c0,.15,0,.54,0,.73v1.34a2.44,2.44,0,0,1,0,.35v1.88a.73.73,0,0,1,.32,0c.23,0,1,0,1,0h.3l.23,0h.88c.11,0,.15.26.15.73s0,.75-.09.75a.85.85,0,0,1-.42.08h-.22a1.23,1.23,0,0,0-.27,0h-.15c-.15,0-1,0-1.37,0h-.83a1.33,1.33,0,0,1-.32,0,1.14,1.14,0,0,1-.6-.15v0a.18.18,0,0,1,0-.09Z"/>
            </g>
            <circle class="cls-6" cx="1360.95" cy="872.6" r="4.45"/>
            <g>
              <rect class="cls-6" x="1298.41" y="432.44" width="3.81" height="108.66"/>
              <rect class="cls-6" x="1331.45" y="432.44" width="3.81" height="108.66"/>
              <rect class="cls-6" x="1299.68" y="457.86" width="34.31" height="3.18"/>
              <rect class="cls-6" x="1299.68" y="477.56" width="33.04" height="69.26"/>
              <rect class="cls-6" x="1279.35" y="424.82" width="74.98" height="3.81"/>
              <line class="cls-11" x1="1380.23" y1="354.79" x2="1329.7" y2="494.21"/>
              <rect class="cls-6" x="1129.39" y="510.6" width="281.49" height="3.18"/>
              <rect class="cls-6" x="1129.39" y="520.76" width="281.49" height="3.18"/>
              <g>
                <rect class="cls-6" x="1419.14" y="545.55" width="195.07" height="4.45"/>
                <g>
                  <rect class="cls-6" x="1419.14" y="525.21" width="195.07" height="4.45"/>
                  <polyline class="cls-12" points="1450.91 546.18 1450.91 528.39 1467.43 546.82"/>
                  <polyline class="cls-12" points="1471.24 546.18 1471.24 528.39 1487.76 546.82"/>
                  <polyline class="cls-12" points="1491.58 546.18 1491.58 528.39 1508.1 546.82"/>
                  <polyline class="cls-12" points="1511.91 546.18 1511.91 528.39 1528.43 546.82"/>
                  <polyline class="cls-12" points="1529.7 546.18 1529.7 528.39 1546.22 546.82"/>
                  <polyline class="cls-12" points="1550.04 546.18 1550.04 528.39 1566.56 546.82"/>
                  <polyline class="cls-12" points="1567.83 546.18 1567.83 528.39 1584.35 546.82"/>
                  <polyline class="cls-12" points="1588.16 546.18 1588.16 528.39 1604.68 546.82"/>
                </g>
              </g>
              <g>
                <rect class="cls-6" x="1115.41" y="545.55" width="260.52" height="4.45"/>
                <g>
                  <rect class="cls-6" x="1115.41" y="525.21" width="260.52" height="4.45"/>
                  <polyline class="cls-13" points="1157.84 546.18 1157.84 528.39 1179.9 546.82"/>
                  <polyline class="cls-13" points="1184.99 546.18 1184.99 528.39 1207.06 546.82"/>
                  <polyline class="cls-13" points="1212.15 546.18 1212.15 528.39 1234.21 546.82"/>
                  <polyline class="cls-13" points="1239.31 546.18 1239.31 528.39 1261.37 546.82"/>
                  <polyline class="cls-13" points="1263.07 546.18 1263.07 528.39 1285.13 546.82"/>
                  <polyline class="cls-13" points="1290.22 546.18 1290.22 528.39 1312.29 546.82"/>
                  <polyline class="cls-13" points="1313.98 546.18 1313.98 528.39 1336.05 546.82"/>
                  <polyline class="cls-13" points="1341.14 546.18 1341.14 528.39 1363.2 546.82"/>
                </g>
              </g>
              <polygon class="cls-6" points="967.57 352.26 967.57 367.51 745.6 367.51 745.6 389.53 967.57 389.53 967.57 404.78 992.99 404.78 992.99 352.26 967.57 352.26"/>
              <rect class="cls-6" x="1646.19" y="457.31" width="15.25" height="303.31"/>
              <rect class="cls-6" x="1625.86" y="464.94" width="15.25" height="295.68"/>
              <rect class="cls-6" x="1605.53" y="470.02" width="15.25" height="290.6"/>
              <polygon class="cls-14" points="1521.65 630.14 1581.81 556.44 1641.96 630.14 1641.96 760.62 1521.65 760.62 1521.65 630.14"/>
              <polygon class="cls-14" points="1178.53 560.67 1178.53 531.87 1149.72 531.87 1149.72 481.03 1119.22 481.03 1119.22 445.45 1054.83 445.45 1054.83 481.03 1024.33 481.03 1024.33 531.87 995.53 531.87 995.53 560.67 980.28 560.67 980.28 760.62 1193.78 760.62 1193.78 560.67 1178.53 560.67"/>
              <polygon class="cls-14" points="1486.63 553.89 1486.63 523.39 1462.07 523.39 1462.07 474.26 1392.59 474.26 1392.59 523.39 1368.02 523.39 1368.02 553.89 1333.29 553.89 1333.29 760.62 1521.37 760.62 1521.37 553.89 1486.63 553.89"/>
              <rect class="cls-15" x="1665.68" y="374.28" width="84.72" height="386.33"/>
              <rect class="cls-15" x="743.9" y="396.31" width="50.83" height="364.31"/>
              <rect class="cls-15" x="852.35" y="398.01" width="59.31" height="362.61"/>
              <rect class="cls-15" x="918.43" y="398.01" width="59.31" height="362.61"/>
              <g>
                <rect class="cls-16" x="800.95" y="348.87" width="45.75" height="411.75"/>
                <polygon class="cls-16" points="869.57 281.09 778.07 281.09 778.07 296.34 789.09 296.34 789.09 333.62 858.56 333.62 858.56 296.34 869.57 296.34 869.57 281.09"/>
              </g>
              <rect class="cls-14" x="1194.62" y="538.64" width="142.33" height="221.97"/>
              <rect class="cls-6" x="778.64" y="312.44" width="89.38" height="6.78"/>
              <rect class="cls-6" x="777.79" y="281" width="91.5" height="15.25"/>
              <polygon class="cls-15" points="1165.61 635.77 1131.3 635.77 1131.3 651.66 1131.3 665 1131.3 687.24 1144 687.24 1144 665 1165.61 665 1165.61 635.77"/>
              <polygon class="cls-15" points="1009.29 635.77 1043.61 635.77 1043.61 651.66 1043.61 665 1043.61 687.24 1030.9 687.24 1030.9 665 1009.29 665 1009.29 635.77"/>
              <rect class="cls-6" x="975.62" y="562.07" width="232.56" height="4.45"/>
              <rect class="cls-6" x="1036.62" y="583.03" width="102.3" height="4.45"/>
              <rect class="cls-6" x="1354.96" y="589.39" width="146.15" height="2.54"/>
              <rect class="cls-6" x="1700.63" y="589.39" width="77.52" height="4.45"/>
              <line class="cls-11" x1="1208.18" y1="442.61" x2="1160.52" y2="630.06"/>
              <g>
                <rect class="cls-17" x="1102.84" y="494.44" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1102.84" y="517.63" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1102.84" y="546.62" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1102.84" y="569.8" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1102.84" y="596.86" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1102.84" y="621.98" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1102.84" y="647.1" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1102.84" y="678.01" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1102.84" y="705.07" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1102.84" y="732.12" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1112.51" y="517.63" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1112.51" y="546.62" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1112.51" y="569.8" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1133.76" y="569.8" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1143.42" y="569.8" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1112.51" y="596.86" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1112.51" y="621.98" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1112.51" y="647.1" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1112.51" y="678.01" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1112.51" y="705.07" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1112.51" y="732.12" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1070" y="494.44" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1070" y="517.63" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1070" y="546.62" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1070" y="569.8" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1070" y="596.86" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1070" y="621.98" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1070" y="647.1" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1070" y="678.01" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1070" y="705.07" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1070" y="732.12" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1058.4" y="517.63" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1058.4" y="546.62" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1058.4" y="569.8" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1041.01" y="569.8" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1029.42" y="569.8" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1058.4" y="596.86" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1058.4" y="621.98" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1058.4" y="647.1" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1058.4" y="678.01" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1058.4" y="705.07" width="5.15" height="6.44"/>
                <rect class="cls-17" x="1058.4" y="732.12" width="5.15" height="6.44"/>
              </g>
              <g>
                <rect class="cls-17" x="1258.39" y="551.12" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1264.18" y="551.12" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1258.39" y="595.57" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1264.18" y="595.57" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1258.39" y="611.03" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1264.18" y="611.03" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1258.39" y="628.42" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1264.18" y="628.42" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1258.39" y="643.88" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1264.18" y="643.88" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1258.39" y="661.27" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1264.18" y="661.27" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1258.39" y="676.72" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1264.18" y="676.72" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1258.39" y="692.18" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1264.18" y="692.18" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1258.39" y="707.64" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1264.18" y="707.64" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1258.39" y="723.1" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1264.18" y="723.1" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1258.39" y="736.63" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1264.18" y="736.63" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1289.3" y="595.57" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1295.1" y="595.57" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1289.3" y="611.03" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1295.1" y="611.03" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1289.3" y="628.42" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1295.1" y="628.42" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1289.3" y="643.88" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1295.1" y="643.88" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1289.3" y="661.27" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1295.1" y="661.27" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1289.3" y="676.72" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1295.1" y="676.72" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1289.3" y="692.18" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1295.1" y="692.18" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1289.3" y="707.64" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1295.1" y="707.64" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1289.3" y="723.1" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1295.1" y="723.1" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1289.3" y="736.63" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1295.1" y="736.63" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1227.47" y="595.57" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1233.27" y="595.57" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1227.47" y="611.03" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1233.27" y="611.03" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1227.47" y="628.42" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1233.27" y="628.42" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1227.47" y="643.88" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1233.27" y="643.88" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1227.47" y="661.27" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1233.27" y="661.27" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1227.47" y="676.72" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1233.27" y="676.72" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1227.47" y="692.18" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1233.27" y="692.18" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1227.47" y="707.64" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1233.27" y="707.64" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1227.47" y="723.1" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1233.27" y="723.1" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1227.47" y="736.63" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1233.27" y="736.63" width="3.22" height="7.09"/>
              </g>
              <g>
                <rect class="cls-17" x="1576.61" y="595.57" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1582.4" y="595.57" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1576.61" y="611.03" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1582.4" y="611.03" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1576.61" y="628.42" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1582.4" y="628.42" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1576.61" y="643.88" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1582.4" y="643.88" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1576.61" y="661.27" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1582.4" y="661.27" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1576.61" y="676.72" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1582.4" y="676.72" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1576.61" y="692.18" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1582.4" y="692.18" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1576.61" y="707.64" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1582.4" y="707.64" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1576.61" y="723.1" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1582.4" y="723.1" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1576.61" y="736.63" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1582.4" y="736.63" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1607.52" y="628.42" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1613.32" y="628.42" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1607.52" y="643.88" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1613.32" y="643.88" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1607.52" y="661.27" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1613.32" y="661.27" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1607.52" y="676.72" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1613.32" y="676.72" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1607.52" y="692.18" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1613.32" y="692.18" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1607.52" y="707.64" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1613.32" y="707.64" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1607.52" y="723.1" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1613.32" y="723.1" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1607.52" y="736.63" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1613.32" y="736.63" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1547.62" y="628.42" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1553.42" y="628.42" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1547.62" y="643.88" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1553.42" y="643.88" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1547.62" y="661.27" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1553.42" y="661.27" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1547.62" y="676.72" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1553.42" y="676.72" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1547.62" y="692.18" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1553.42" y="692.18" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1547.62" y="707.64" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1553.42" y="707.64" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1547.62" y="723.1" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1553.42" y="723.1" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1547.62" y="736.63" width="3.22" height="7.09"/>
                <rect class="cls-17" x="1553.42" y="736.63" width="3.22" height="7.09"/>
              </g>
              <g>
                <rect class="cls-17" x="1440.6" y="493.43" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1440.6" y="520.49" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1440.6" y="549.47" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1440.6" y="576.52" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1440.6" y="601.64" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1440.6" y="624.83" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1440.6" y="653.82" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1440.6" y="711.78" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1440.6" y="738.84" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1411.61" y="493.43" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1411.61" y="520.49" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1411.61" y="549.47" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1411.61" y="576.52" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1411.61" y="601.64" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1411.61" y="624.83" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1411.61" y="653.82" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1411.61" y="711.78" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1411.61" y="738.84" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1469.58" y="549.47" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1469.58" y="576.52" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1469.58" y="601.64" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1469.58" y="624.83" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1469.58" y="653.82" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1469.58" y="711.78" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1469.58" y="738.84" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1384.56" y="549.47" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1384.56" y="576.52" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1384.56" y="601.64" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1384.56" y="624.83" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1384.56" y="653.82" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1384.56" y="711.78" width="5.8" height="6.44"/>
                <rect class="cls-17" x="1384.56" y="738.84" width="5.8" height="6.44"/>
              </g>
              <rect class="cls-18" x="748.14" y="400.46" width="16.1" height="354.99"/>
              <rect class="cls-18" x="858.28" y="400.46" width="16.1" height="354.99"/>
              <rect class="cls-18" x="1680.19" y="400.46" width="36.57" height="354.99"/>
              <rect class="cls-18" x="923.51" y="400.46" width="16.1" height="354.99"/>
            </g>
            <path class="cls-17" d="M1150.46,213.33a27.33,27.33,0,0,0-5.46.54,38.06,38.06,0,0,0-52.36-1.92,43.38,43.38,0,0,0-18.37-4.07,27.2,27.2,0,0,0-41.63-2.25,27.21,27.21,0,0,0-27.34,47,27.2,27.2,0,0,0,40.9,32,43.52,43.52,0,0,0,62.85-7.08,38,38,0,0,0,36-10.4,28.08,28.08,0,0,0,5.46.54,27.21,27.21,0,1,0,0-54.41Z"/>
            <g>
              <circle class="cls-19" cx="1649.42" cy="153.26" r="82.91"/>
              <circle class="cls-20" cx="1649.42" cy="153.26" r="97.58"/>
              <circle class="cls-21" cx="1649.42" cy="153.26" r="68.58"/>
              <circle class="cls-22" cx="1649.42" cy="153.26" r="51.18"/>
            </g>
            <path class="cls-17" d="M1852.85,163.35a65.93,65.93,0,0,0-21.45,3.58,47.24,47.24,0,0,0-90.18,2.57,37.79,37.79,0,0,0-54.66,15.14,37.8,37.8,0,1,0,5.83,68,56.7,56.7,0,0,0,108.69,18,66.14,66.14,0,1,0,51.77-107.28Z"/>
            <path class="cls-17" d="M542.86,588.34a21.43,21.43,0,0,0,6.93-1.15,15.25,15.25,0,0,0,29.1-.83,12.2,12.2,0,0,0,17.64-4.89,12.2,12.2,0,1,0-1.88-22,18.3,18.3,0,0,0-35.08-5.8,21.34,21.34,0,1,0-16.71,34.62Z"/>
            <line class="cls-23" x1="1152" y1="924" x2="324" y2="924"/>
            <line class="cls-23" x1="1041.5" y1="948.5" x2="1572.5" y2="948.5"/>
            <line class="cls-23" x1="1396.5" y1="900.5" x2="1023.5" y2="900.5"/>
            <line class="cls-23" x1="1776.5" y1="1015.5" x2="1527.5" y2="1015.5"/>
            <line class="cls-23" x1="1411.5" y1="1005.5" x2="1293.5" y2="1005.5"/>
            <line class="cls-23" x1="-23.5" y1="1045.5" x2="397.5" y2="1045.5"/>
            <line class="cls-23" x1="322.5" y1="1026.5" x2="595.5" y2="1026.5"/>
          </svg>
          
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 bg-light text-md-left text-center text-dark align-self-center p-4">
                <h2 class="text-uppercase">{{ page.title }}</h2>
                <p class="text-uppercase">
                    {{ content }}
                </p>
            </div>
        </div>
    </div>
</div>
