<div id="soundcloud">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-12 bg-light text-md-left text-center text-dark align-self-start mt-5 p-4">
                <h2 class="text-uppercase">{{ page.title }}</h2>
                <p class="text-uppercase">
                    {{ content }}
                </p>
            </div>
            <div class="col-md-12 bg-transparent text-md-left text-center text-dark align-self-end mb-4 p-4">
                <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Feasykisi%2Feasykisi-mix-no-06-29072017-artville-suppe-tik-no-tv-raps%2F" frameborder="0" ></iframe>       
            </div>
        </div>
    </div>
</div>