<div id="soundcloud">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-12 bg-transparent text-md-left text-center text-dark align-self-center p-4">
                <h2 class="text-uppercase">{{ page.title }}</h2>
                <p class="text-uppercase">
                    {{ content }}
                </p>
            </div>
        </div>
    </div>
</div>