<div class="bg-secondary" id="kisi" style="background-image: url('{{ theme://images/hero.svg }}');">
    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
            <div class="offset-md-6 col-md-6 bg-light text-md-left text-center text-dark align-self-center my-4 p-2">
                <h2 class="text-uppercase">{{ page.title }}</h2>
                <p class="text-uppercase">
                    {{ content }}
                </p>
                <a href="#music" class="btn btn-lg mx-1 btn-secondary text-uppercase">zur MusIk</a>
                <a href="#footer" class="btn btn-lg btn-primary text-uppercase">zur BucHung</a>
            </div>
        </div>
    </div>
</div>