#kisi {
	background-image: url(http://easykisi.1komma.de/user/themes/easykisi/images/hero.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 65vw;
    background-size: cover;
}